<div class="container">
  <div class="row justify-content-center align-items-center">
    <h3 class="text-info mt-3 text-center my-5">予定詳細</h3>
  </div>
  <div class="row justify-content-center">
    <table class="table col-md-7 d-flex align-items-start">
      <tbody>
        <tr>
          <td class="text-info">タイトル</td>
          <td><%= @event.title %></td>
        </tr>
        <tr>
          <td class="text-info">日時</td>
          <td> <%= @event.start_time.strftime("%m-%d %H:%M") %>  〜  <%= @event.finish_time.strftime("%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td class="text-info">概要</td>
          <td><%= @event.overview %> </td>
        </tr>
        <tr>
          <td class="text-info">関係者</td>
          <td>
            <% @event.relevant_parties.each do |r| %>
              <a href="/users/<%= r.user.id %>"><%= r.user.full_name %> </a> さん<br>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-5">
      <div class="d-flex flex-row my-3" >
        <div id="okeys_buttons_<%= @event.id %>">
          <%= render partial: 'okeys/okey', locals: { event: @event } %>
        </div>
        <div class="okey_count ml-2"><%= @event.okeys.count %> 人が予定をチェックしました</div>
        <div class="okeyed_users">
          <% @event.okeyed_users.each do |user| %>
            <%= user.full_name %>さん
          <% end %>
        </div>
      </div>

      <h5 class ="mt-5 text-info">コメント一覧</h5>
      <% @comments.each do |c| %>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <i class="far fa-comment-dots"></i>
          <a href="/users/<%= c.user.id %>"><%= c.user.full_name %>さん</a><br>
          <p><%= c.body %></p>
        </div>
        <p><%= link_to "", event_comment_path(c.id), class: 'fas fa-trash-alt text-secondary', method: :delete %></p>
      </div>
      <% end %>
      <%= form_with model: @comment, url: event_comments_path(@event), local: true do |f| %>
      <%= render 'layouts/notification', model: f.object %>
        <%= f.text_area :body, :size=>"53x4" %>
      <br>
      <%= f.submit 'コメントする', class: "btn btn-info btn-md" %>
      <% end %>
    </div>
    <div class= "row my-5" >
      <%= link_to "カレンダーへ", events_path, class: "btn btn-secondary btn-md mr-2" %>
      <%= link_to 'この予定を編集', edit_event_path(@event), class: "btn btn-info btn-md ml-2" %>
      <%= link_to "この予定を削除", event_path(@event), class: "btn btn-delete btn-md ml-2 text-light", method: :delete %>
    </div>
  </div>
</div>