
<h2>TODOの編集</h2>
<% form_with model: @todo, local: true do |f| %>

<%= f.label :title, "タイトル" %>
<%= f.text_field :title %>

<%= f.label :deadline, "締め切り日時" %>
<%= f.datetime_field :deadline %>

<%= f.label :duration, "かかる時間" %>
<%= f.text_field :duration %>

<%= f.label :body, "内容" %>
<%= f.text_area :body %>

<%= f.submit "TODOを登録", class: "btn btn-success" %>

<% end %>