<div class="container">
  <div class="d-flex flex-row">
    <div class="col-4">
      <%= render 'todos/new', todo: @todo %>
    </div>
    <div class="col-8">
      <h2>TODOリスト</h2>
      <% @todos.each do |todo| %>

      <%= todo.deadline.strftime('%Y/%m/%d') %>
      <%= todo.title %>

<%= todo.deadline.strftime('%Y/%m/%d') %>
<%= todo.title %>

<% end %>
    </div>
  </div>
</div>
