<!DOCTYPE html>
<html>
  <head>
    <title>ShikkariBoddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary border-bottom">
        <div class="container">
          <a class="navbar-brand">
            <% if user_signed_in? %>
              <%= link_to events_path, class: "navbar-brand" do %>
                <%= image_tag ("favicon.png"), size: "35x35" %>
                <span class="text-light ml-2">シッカリBuddy</span>
              <% end %>
            <% else %>
              <%= link_to root_path, class: "navbar-brand" do %>
                <%= image_tag ("favicon.png"), size: "35x35" %>
                <span class="text-light ml-2">シッカリBuddy</span>
              <% end %>
            <% end %>
          </a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class= "nav-link text-light"><%= current_user.full_name %>さん、おつかれ様です！</li>
              <li><%= link_to "マイページ", user_path(current_user), class: "nav-link text-light" %></li>
              <li><%= link_to "TODO", user_todos_path(current_user), class: "nav-link text-light" %></li>
              <li><%= link_to "カレンダー", events_path, class: "nav-link text-light" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-light" %></li>
            <% else %>
              <li><%= link_to "新規登録", new_user_registration_path, class: "nav-link text-light" %></li>
              <li><%= link_to "ログイン", new_user_session_path, class: "nav-link text-light" %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <div class="container">
      <footer class="row bg-light mt-5">
        <p class="col-12 text-secondary text-center small">CopyRight© しっかりBuddy All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
